body{
    background-image: url("../images/dark-triangles.png");
}
.card{
    margin: 0 auto;
}

.btn-userSelection{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: auto;
}

.btn-userSelection-rock{
    background-image: url(../images/playerHandRock.png);
}

.btn-userSelection-paper{
    background-image: url(../images/playerHandPaper.png);
}

.btn-userSelection-scissors{
    background-image: url(../images/playerHandScissors.png);
}

.flyout{
    background-color: #19967d;
    border-radius: 10px;
    color: black;
    position: absolute;
    max-width: 400px;
    top: 80px;
    z-index: 1;
    border: 1px solid;
    padding: 10px;
    margin: 0 50px;
    box-shadow: 5px 10px 8px black;
}

.themeColor1{
    background-color: #19967d;
}

.themeColor2{
    background-color: white;
    color: darkgray;
}