body{
    background-image: url("../images/dark-triangles.png");
}
.card{
    margin: 0 auto;
}

.btn-userSelection{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: auto;
}

.btn-userSelection-rock{
    background-image: url(../images/playerHandRock.png);
}

.btn-userSelection-paper{
    background-image: url(../images/playerHandPaper.png);
}

.btn-userSelection-scissors{
    background-image: url(../images/playerHandScissors.png);
}

.themeColor1{
    background-color: #19967d;
}

.themeColor2{
    background-color: white;
    color: darkgray;
}